<script type="text/html" template lay-done="layui.data.sendParams(d.params)"></script>
<div class="layui-fluid">
	<table class="layui-hide" id="commentTable9651" lay-filter="commentTable9651"></table>
</div>
</script>
<script>
	layui.data.sendParams = function(params) {
		layui.use('contlist', layui.factory('contlist')).use(['admin', 'contlist', 'table', 'laydate', 'common',
			'public', 'form'
		], function() {
			var $ = layui.$,
				admin = layui.admin,
				laydate = layui.laydate,
				view = layui.view,
				table = layui.table,
				form = layui.form,
				IsshowAnNiu = layui.common.IsshowAnNiu;
			var menuPermissions = IsshowAnNiu('addviews'); //菜单权限
			var base = new layui.public.Base64();
			var cols = []
			var tool = layui.public.tool;
			var base = new layui.public.Base64();
			console.log(params)
			var field = {
				province: params.data.province,
				city: params.data.city,
				district: params.data.district,
			}
			//日期范围
			laydate.render({
				elem: '#testTime1',
				calendar: true,
				done: function(value, date, endDate) {
					field.time = value
				}
			});
			form.on('submit(search745)', function(data) {
				render_table(field);
				return false;
			});
			form.render()

			//渲染表格数据

			//渲染表格数据
			var render_table = function(data) {
				cols = [
					[{
							title: '序号',
							align: 'center',
							width: 80,
							sort: true,
							type: 'numbers'
						}, {
							field: 'group_name',
							title: '会员信息',
							align: 'center',
							templet: function(d) {
								return `
                                   <p>昵称:${d.name}</p>
                                   <p>手机号:${d.phone}</p>
                               `
							}
						}, {
							field: 'rank',
							title: '会员等级',
							align: 'center',
							templet: function(d) {
								var str = ''
								if (d.rank == 1) {
									str = '普通会员'
								}
								if (d.rank == 2) {
									str = '组长'
								}
								if (d.rank == 3) {
									str = '团长'
								}
								if (d.rank == 4) {
									str = '市场督导'
								}
								return str
							}
						}, {
							field: 'province_name',
							title: '默认地区',
							templet: function(d) {
								return d.province_name + d.city_name + d.district_name
							}
						}, {
							field: 'join_num',
							align: 'center',
							title: '参与次数'
						}, {
							field: 'get_num',
							align: 'center',
							title: '累加抢种次数'
						}, {
							field: 'yu_ding_time',
							align: 'center',
							title: '开启轻松拼团时间',
							width: 300,
							sort: true,
							templet: function(d) {
								return `<span>${d.yu_ding_time == 0 ? '暂无' : layui.common.createTime(d.yu_ding_time/1000)}</span>
           					<button style='	margin-left:20px ;' type="button" class="layui-btn layui-btn-normal layui-btn-sm" lay-event = 'edit'>编辑</button>`
							}
						},
						{
							field: 'is_open',
							align: 'center',
							title: '激活状态',
							width: 200,
							sort: true,
							templet: function(d) {
								return `<span>${d.is_open == 0 ? '未激活' : '激活'}</span>
           					<button style='	margin-left:20px ;' type="button" class="layui-btn layui-btn-normal layui-btn-sm" lay-event = 'edit1'>修改状态</button>`
							}
						}, {
							field: 'add_time',
							align: 'center',
							title: '时间',
							templet: function(d) {
								return d.add_time == 0 ? '暂无' : layui.common.createTime(d.add_time)

							}
						}
					]
				]

				table.render({
					elem: '#commentTable9651',
					url: layui.setter.requestUrl + 'api.php?c=group_area/getGroupAreaOpen',
					where: data,
					cellMinWidth: 120,
					cols: cols,
					page: true,
					parseData: function(res) {
						return {
							"count": res.count, //解析接口状态
							"code": res.code, //解析接口状态
							"data": res.data //解析数据列表
						};
					},
				});
			}
			//先自调用请求渲染数据
			render_table(field);
			table.on('tool(commentTable9651)', function(obj) { //注：tool table 是 table  lay-filter="对应的值"
				var data = obj.data; //获得当前行数据
				var layEvent = obj.event; //获得 lay-event 对应的值
				if (layEvent == 'edit') {
					admin.popup({
						id: 'editBrand',
						title: '修改轻松拼团时间',
						area: ['500px', '500px'],
						success: function() {
							view(this.id).render('/template/marketing/fixtime', data);
						}
					});
				} else if (layEvent == 'edit1') {
					layer.confirm('确认修改?', function(index) {
						admin.req({
							url: layui.setter.requestUrl +
								'api.php?c=group_area/changeGroupAreaOpenStatus',
							type: 'post',
							data: {
								open_index: data.open_index
							},
							done: function(res) {
								if (res.code == 0) {
									render_table(field);
									layer.msg(res.msg);
								} else {
									layer.msg(res.msg);
								}
							}

						});
					})
				}
			})

		});

	}
</script>
